@tailwind base;
@tailwind components;
@tailwind utilities;

.sidea:hover {
  background-color: whitesmoke;
  color: rgb(100, 99, 95);
  border-radius: 15px;
}
@layer components {
  .storyjs {
    @apply h-40 w-[9vw] py-3 lmm:w-[11vw] ;
  }
}